    <browserCaps>
      <use var="HTTP_USER_AGENT" />
      <filter>
        <!-- BOTS -->
        <case match="bingbot">browser="BingBot"</case>
        <!-- SCANS -->
        <case match="69.24.41.159">platform="HostMonitor"</case>
        <case match="^(?=.*Ruby)((?=.*64.37.231.130)|(?=.*64.37.231.140)).*$">platform="TrustWave"</case>
        <case match="(403\+Labs\+Vulnerability\+Scan)">platform="403Labs"</case>
        <case match="(403 Labs Vulnerability Scan)">platform="403 Labs"</case>
        <!-- PLATFORM (OS) -->
        <!-- Mobile -->
        <case match="iPhone">platform="iPhone"</case>
        <case match="iPad">platform="iPad"</case>
        <case match="Android">platform="Android"</case>
        <case match="Windows Phone">platform="WinPhone"</case>
        <case match="myTouch">platform="myTouch"</case>
        <case match="Kindle">platform="Kindle"</case>
        <case match="BlackBerry">
          platform="BlackBerry"
          browser="BlackBerry"
        </case>
        <!-- Windows -->
        <case match="Netscape"><!-- just... why -->
          browser="Netscape"
          <case match="Netscape/7">version="7.1"</case>
          <case match="Netscape/8">version="7.2"</case>
        </case>
        <case match="Windows NT">
          <case match="NT 6.0">
            platform="Vista"
          </case>
          <case match="NT 6.1">
            platform="Win7"
            <case match="Trident">
              browser="IE"
              <case match="Windows NT.*rv\:11.">version="11"</case>
            </case>
          </case>
          <case match="NT 6.2">
            platform="Win8"
            <case match="Trident">
              browser="IE"
              <case match="Windows NT.*rv\:11.">version="11"</case>
            </case>
          </case>
          <case match="NT 6.3">
            platform="Win8.1"
            <case match="Trident">
              browser="IE"
              <case match="Windows NT.*rv\:11.">version="11"</case>
            </case>
          </case>
        </case>
        <!-- Mac OS X -->
        <case match="(?i-s:Intel.Mac.OS.X)|(?i-s:Intel+Mac)">platform="MacIntel"</case>
        <case match="(?i-s:Mac_68000)|(?i-s:Macintosh.*68K)">platform="Mac68K"</case>
        <case match="(?i-s:mac_powerpc)|(?i-s:mac_ppc)|(?i-s:macintosh.*ppc)|(?i-s:ppc mac)|(?i-s:power macintosh)|(?i-s:powerpc)">platform="MacPPC"</case>
        <case match="(?i-s:Mac OS X)"> platform="MacOSX" </case>
        <!-- Linux -->
        <case match="(?i-s:redhat)|Red Hat|RedHat">platform="LinuxRedHat"</case>
        <case match="CentOS">platform="LinuxCentOS"</case>
        <case match="Debian">platform="LinuxDebian"</case>
        <case match="Fedora">platform="LinuxFedora"</case>
        <case match="Mandriva">platform="LinuxMandriva"</case>
        <case match="SUSE">platform="LinuxSUSE"</case>
        <case match="Ubuntu">platform="LinuxUbuntu"</case>
        <case match="(?i-s:linux)">platform="Linux"</case>
        <!-- Unix -->
        <case match="(?i-s:freebsd)">platform="FreeBSD"</case>
        <case match="(?i-s:OpenBSD)">platform="OpenBSD"</case>
        <case match="(?i-s:NetBSD)">platform="NetBSD"</case>
        <case match="(?i-s:SunOS)">platform="SunOS"</case>
      </filter>
    </browserCaps>  
